<div class="container" style="text-align: center;">
<% if(success && success.length) { %>
	<h3 class="disappear" style="color: green;"><%= success %></h3>
<% } %>
<% if(error && error.length) { %>
	<h3 class="disappear" style="color: red;"><%= error %></h3>
<% } %>
</div>